@font-face {
    font-family: RobotoThin;
    src: url(fonts/roboto.thin.ttf);
}
@font-face {
    font-family: RobotoNormal;
    src: url(fonts/roboto.regular.ttf);
}
.grad {text-align: center;}
img{object-fit: cover;}
.welcome-image{width:300px;height:300px;margin-top:-20px;}
.welcome-logo{width:50%;}
.welcome-text{font-size:40px;margin:0px;padding:0px;}
.icon-prop{width:110px;height:110px;}
.logo-prop{width:468px;height:110px;}
.table-prop{text-align:center; margin-top:20px;width: 50%;margin-left: 25%;margin-right: 25%;margin-bottom: 10px;}
.no-1{font-size: 40px;color: #ffffff;font-family: 'RobotoThin';font-weight: 300;background-color: rgba(0, 0, 0, 0.33);padding-left:15px;
padding-right:15px;}
.sub-text{font-size: 24px;color: #ffffff;font-family: 'RobotoThin';font-weight: 300;margin-top:40px;background-color: rgba(0, 0, 0, 0.33);
    padding-left:15px; padding-right:15px;}
.launching-text{font-size: 48px;color: #ffffff;font-family: 'RobotoThin';font-weight: 300;padding-left:15px; padding-right:15px;}
.email{font-size: 24px;color: #f5fff4;font-family: 'RobotoThin';font-weight: 300;background-color: rgba(0,0,0,0);border:2px solid #0075d8;
width: 320px;display: inline;padding:3px;}
.email:focus{outline:thin dotted;outline:5px auto #0075d8;outline-offset:-2px}
.join-button{margin-left: -5px;height: 44px;display: inline;vertical-align: top;background-color: #0075d8;opacity:0.7;padding-left: 20px;
padding-right: 20px;color: #ffffff; border:2px solid #0075d8;font-family: RobotoThin;}
.email-div{width: 100%;max-width: 500px;text-align: center;margin:0px;display: inline-block;height:44px;}
.small-text{font-size: 16px;color: #ffffff;font-family: 'RobotoThin';font-weight: 300;padding-left:15px; padding-right:15px;
    background-color: rgba(0, 0, 0, 0.33);}