table.th{padding:3px;}
.user-table-body{font-family: "Century Gothic";font-size:13px;padding-left: 3px;padding-right: 3px;vertical-align: middle;}
.curtain{position: fixed;top:0px;left:0px;background-color: #0f0f0f;opacity: 0.7;width: 100%;height: 100%;z-index:2;visibility: hidden;}
.edit-div{position: fixed;top:15%;left:6%;z-index:3;visibility: hidden;}
.user-details-font{font-size: 14px;font-family: "Century Gothic";color:#232323;}